<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
   <!-- <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>-->
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
     <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <!--foreign keys=true;
  <add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\007-0812\Documents\Visual Studio 2012\Projects\PU\PU\bin\Release\App_Data\pu6.db3&quot;foreign keys=true;'" providerName="System.Data.EntityClient" />
  -->
  <connectionStrings>
    <!--<add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\PU\PU\bin\Release\Base_emp\pu6_emp.db3&quot;" providerName="System.Data.EntityClient" />-->
    <add name="pfrXMLEntities" connectionString="metadata=res://*/Models.xmlContainer.csdl|res://*/Models.xmlContainer.ssdl|res://*/Models.xmlContainer.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\007-0812\Documents\Visual Studio 2012\Projects\PU\PU\bin\Release\pfrXML.db3&quot;foreign keys=true;'" providerName="System.Data.EntityClient" />
    <add name="xaccessEntities" connectionString="metadata=res://*/UserAccess.xaccessModel.csdl|res://*/UserAccess.xaccessModel.ssdl|res://*/UserAccess.xaccessModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Program Files (x86)\Документы ПУ-6\xaccess.db3&quot;" providerName="System.Data.EntityClient" />
    <add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\PU\PU\bin\Release\Base_emp\pu6_emp.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6, Version=1.0.94.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <PU.Properties.Settings>
      <setting name="SettingsPath" serializeAs="String">
        <value />
      </setting>
    </PU.Properties.Settings>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
</configuration>