<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <!--foreign keys=true;
  <add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\007-0812\Documents\Visual Studio 2012\Projects\PU\PU\bin\Release\App_Data\pu6.db3&quot;foreign keys=true;'" providerName="System.Data.EntityClient" />
  -->
  <connectionStrings>
    <!--<add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\PU\PU\bin\Release\Base_emp\pu6_emp.db3&quot;" providerName="System.Data.EntityClient" />-->
    <add name="pfrXMLEntities" connectionString="metadata=res://*/Models.xmlContainer.csdl|res://*/Models.xmlContainer.ssdl|res://*/Models.xmlContainer.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Documents and Settings\007-0812\Documents\Visual Studio 2012\Projects\PU\PU\bin\Release\pfrXML.db3&quot;foreign keys=true;'" providerName="System.Data.EntityClient" />
    <add name="xaccessEntities" connectionString="metadata=res://*/UserAccess.xaccessModel.csdl|res://*/UserAccess.xaccessModel.ssdl|res://*/UserAccess.xaccessModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\PU\PU\bin\Release\xaccess.db3&quot;" providerName="System.Data.EntityClient" />
    <add name="pu6Entities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\PU\PU\bin\Release\Base_emp\pu6_emp.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <PU.Properties.Settings>
      <setting name="SettingsPath" serializeAs="String">
        <value />
      </setting>
    </PU.Properties.Settings>
  </userSettings>

</configuration>